<div class="media-child">
  <a href="https://www.tiktok.com" target="_blank">
    <img src="assets/images/tik-tok.png" alt="Tik-Tok" loading="lazy" />
  </a>
  <a href="https://www.instagram.com/hayabusa_dojo/" target="_blank">
    <img src="assets/images/instagram.png" alt="Instagram" loading="lazy" />
  </a>
  <a
    href="https://www.facebook.com/profile.php?id=100063637205513"
    target="_blank"
  >
    <img
      src="assets/images/facebook-app-symbol.png"
      alt="Facebook"
      loading="lazy"
    />
  </a>
  <a href="https://www.youtube.com" target="_blank">
    <img src="assets/images/youtube.png" alt="Youtube" loading="lazy" />
  </a>
  <a href="https://www.twitter.com" target="_blank">
    <img src="assets/images/twitter.png" alt="Twitter" loading="lazy" />
  </a>
</div>
