<div class="media-child">
  <a href="https://www.tiktok.com" target="_blank">
    <img src="assets/tik-tok.png" alt="Tik-Tok" />
  </a>
  <a href="https://www.instagram.com/hayabusa_dojo/" target="_blank">
    <img src="assets/instagram.png" alt="Instagram" />
  </a>
  <a
    href="https://www.facebook.com/profile.php?id=100063637205513"
    target="_blank"
  >
    <img src="assets/facebook-app-symbol.png" alt="Facebook" />
  </a>
  <a href="https://www.youtube.com" target="_blank">
    <img src="assets/youtube.png" alt="Youtube" />
  </a>
  <a href="https://www.twitter.com" target="_blank">
    <img src="assets/twitter.png" alt="Twitter" />
  </a>
</div>
