.navigatie-lijst {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0;

  padding: 20px;
  background-color: hsl(0, 0%, 60%, 0.8);

  display: flex;
  justify-content: space-evenly;
}

a {
  position: relative;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding: 0 10px;
}

a:after {
  content: "";
  position: absolute;
  background-color: hsla(0, 100%, 50%, 0.75);
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -5px;
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}

a:hover:after {
    transform: scale(1, 1);

}
