<ul class="navigatie-lijst">
  <li>
    <a href="" class="pagina-link link" [routerLink]="['/samenwerking']">
      Samenwerkingen
    </a>
  </li>
  <li>
    <a href="" class="pagina-link link" [routerLink]="['/nieuws']"> Nieuws </a>
  </li>
  <li>
    <a href="" class="pagina-link link" [routerLink]="['/trainingsuren']">
      Trainingsuren
    </a>
  </li>
  <li>
    <a href="" class="pagina-link link" [routerLink]="['/documenten']">
      Documenten
    </a>
  </li>
  <li>
    <a href="" class="pagina-link link" [routerLink]="['/dojo']">
      Hayabusa dōjō
    </a>
  </li>
</ul>
