<div class="contact-child">
  <h3>Contact</h3>
  <div class="links">
    <a class="link" href="mailto:verdedigingsschool.jp@gmail.com"
      >verdedigingsschool.jp@gmail.com</a
    >
    <a class="link" href="tel:+32475311222">+32 475 311 222</a>
    <a
      class="link"
      target="_blank"
      href="https://www.google.be/maps/place/51%C2%B018'17.1%22N+4%C2%B035'15.5%22E/@51.3047468,4.5864203,19z/data=!3m1!4b1!4m13!1m8!3m7!1s0x47c407311a88dbef:0x4f045d177c23a298!2sKattenhoflaan+87,+2970+Brecht!3b1!8m2!3d51.2860219!4d4.5713421!16s%2Fg%2F11c1jkm9gb!3m3!8m2!3d51.304746!4d4.587638?entry=ttu"
      >Locatie</a
    >
  </div>
</div>
