<div class="home-child">
  <div class="leer-je-zelfverdediging">
    <div class="zelfverdedigin-links">
      <img src="assets\images\IMG_3825.jpeg" alt="foto-1" />
    </div>
    <div class="zelfverdedigin-rechts">
      <h1>Bij ons leer je zelfverdediging op hoog niveau</h1>
      <ul class="lijst">
        <li>Kwaliteit</li>
        <li>Gevarieerde trainingen</li>
        <li>Verschillende stijlen</li>
        <li>Internationale/nationale stages</li>
        <li>Demonstraties</li>
        <li>Persoonlijke aanpak</li>
      </ul>
      <div class="fotolijst">
        <img src="assets\images\IMG_3791.jpeg" alt="foto-2" />
        <img src="assets\images\IMG_3791.jpeg" alt="foto-2" />
        <img src="assets\images\IMG_3791.jpeg" alt="foto-2" />
        <img src="assets\images\IMG_3791.jpeg" alt="foto-2" />
        <img src="assets\images\IMG_3791.jpeg" alt="foto-2" />
        <img src="assets\images\IMG_3791.jpeg" alt="foto-2" />
      </div>
    </div>
  </div>
  <div class="start-met-zelfverdediging"></div>
</div>
