<div class="samenwerking-child">
  <div>
    <a href="https://www.imaf-belgium.be/" target="_blank">
      <img
        src="assets/images/IMAF-Belgium-logo-zwart-130x130.png"
        alt="IMAF Belgium"
        loading="lazy"
      />
    </a>
    <p>IMAF Belgium</p>
  </div>

  <div>
    <a href="https://www.imaf.co/" target="_blank"
      ><img
        src="assets/images/imaf-europa-1021x1024-130x130.png"
        alt="IMAF Europa"
        loading="lazy"
      />
    </a>
    <p>IMAF Europa</p>
  </div>

  <div>
    <a href="https://www.worldkobudo.org/" target="_blank"
      ><img
        src="assets/images/WKF-logo-redesign-alternate-scaled-1-130x91.png"
        alt="WKF"
        loading="lazy"
      />
    </a>
    <p>World Kobudo</p>
  </div>

  <div>
    <a href="https://fros.be/" target="_blank"
      ><img
        src="assets/images/nieuw-logo-FROS-1-1024x1024-100x100.png"
        alt="FROS"
        loading="lazy"
    /></a>
    <p>FROS</p>
  </div>

  <div>
    <a href="https://vlaamsesportfederatie.be/" target="_blank"
      ><img
        src="assets/images/Dynamoprojecct-100x90.png"
        alt="Dynamoproject"
        loading="lazy"
    /></a>
    <p>Dynamo Project</p>
  </div>

  <div>
    <a href="https://www.sport.vlaanderen/" target="_blank"
      ><img
        src="assets/images/logosportvlaanderen_partner-1024x738-150x108.png"
        alt="Sport Vlaanderen"
        loading="lazy"
    /></a>
    <p>Sport Vlaanderen</p>
  </div>
</div>
