<div class="trainingsuren-child">
    <div>
      <h3 class="trainingsdag">Woensdag</h3>
      <ul>
        <li>Groep 1: 14u tot 15u (beginnelingen -12 jaar)</li>
        <li>Groep 2: 15u tot 16u (gevorderden -12 jaar)</li>
        <li>Groep 3: 16u tot 17u (tieners)</li>
      </ul>
    </div>
    <div>
      <h3 class="trainingsdag">Donderdag</h3>
      <ul>
        <li>Groep 2: 18u30 tot 19u30 (gevorderden -12 jaar)</li>
        <li>Groep 3: 19u30 tot 20u30 (tieners)</li>
        <li>Volwassenen: 20u30 tot 22u</li>
      </ul>
    </div>
    <div>
      <h3 class="trainingsdag">Zaterdag</h3>
      <ul>
        <li>Groep 1: 10u tot 11u (beginnelingen -12 jaar)</li>
        <li>Groep 2: 11u15 tot 12u15 (gevorderden -12 jaar)</li>
        <li>Groep 3: 13u tot 15u (tieners + volwassenen)</li>
      </ul>
    </div>
    <div>
      <h3 class="trainingsdag">Zondag</h3>
      <ul>
        <li>Kickbox en zelfverdediging voor vrouwen</li>
        <li>10u tot 11u 30</li>
      </ul>
    </div>
</div>
