<ul>
  <li>
    <a
      href="assets/documents/Technisch-programma-Verdedigingsschool-JP.pdf"
      download
      ><img src="assets/images/download.png" alt="Download"
    /></a>
    <p>Cursus Kyū-graden</p>
  </li>
  <li>
    <a href="assets/documents/Ongevallen-aangifte-FROS.pdf" download
      ><img src="assets/images/download.png" alt="Download"
    /></a>
    <p>Verzekering FROS</p>
  </li>
  <li>
    <a href="assets/documents/IMAF-Aansluitingsformulier-leeg.pdf" download
      ><img src="assets/images/download.png" alt="Download"
    /></a>
    <p>IMAF Aansluitingsformulier</p>
  </li>
  <li>
    <a href="assets/documents/20351831.pdf" download
      ><img src="assets/images/download.png" alt="Download"
    /></a>
    <p>Statuten VZW</p>
  </li>
  <li>
    <a
      href="assets/documents/Intern-reglement-verdedigingsschool-JP-VZW-versie-27102020.pdf"
      download
      ><img src="assets/images/download.png" alt="Download"
    /></a>
    <p>Huishoudelijk Reglement</p>
  </li>
  <li>
    <a href="assets/documents/GDPR-v-30112020.pdf" download
      ><img src="assets/images/download.png" alt="Download"
    /></a>
    <p>GDPR</p>
  </li>
</ul>
