* {
  margin: 0;
  padding: 0;
}

.dojo-child {
  padding-top: 10px;
}

h1 {
  padding-bottom: 10px;
  box-shadow: inset 0 -2px hsl(0, 0%, 60%, 1), inset 0 -4px hsl(0, 0%, 90%, 1),
    inset 0 -6px hsl(0, 0%, 60%, 1);
  text-align: center;
}

.bestuur img {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

ul {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 40px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li {
  width: 300px;
  text-align: left;
}

.jp {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  padding-bottom: 40px;
  border-bottom: solid 2px hsl(0, 0%, 60%, 1);
}

.jp div h2, .peter div h2 {
  margin-bottom: 40px;
  padding-bottom: 10px;
  width: max-content;
  box-shadow: inset 0 -2px hsla(0, 100%, 50%, 0.75);
}

.jp div div, .peter div div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
}

.jp img, .peter img {
  width: 50%;
}

.peter {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.peter div h2 {
  margin-left: 10%;
}

.peter div div {
  margin-left: 10%;
}
