<div class="dojo-child">
  <div class="bestuur">
    <h1>Bestuur</h1>
    <img src="assets/images/bestuur.jpg" alt="bestuur" />
    <ul>
      <li>Koen Entbrouxk - Secretaris</li>
      <li>Peter Van Linden - Schatbewaarder</li>
      <li>
        Jean-Pierre Van Vré - Voorzitter en Oprichter van Verdedigingsschool JP
      </li>
    </ul>
  </div>
  <div class="senseis">
    <h1>Sensei's</h1>
    <div class="jp">
      <div>
        <h2>Sensei Jean-Pierre Van Vré</h2>
        <div>
          <p>
            Shihan Jean-Pierre Van Vré staat al 40 jaar (sinds 1980) op de
            tatami en heeft in 2020 al meer dan 30 jaar zijn eigen
            verdedigingsschool.
          </p>
          <p>
            JP Van Vré is momenteel 7de Dan Tai-Jutsu - 6de Dan Nihon Kobudo -
            3de Dan Nihon Jūjutsu - 1ste Dan Aiki-Jūjutsu. Hij heeft ook
            ervaring in kickboks.
          </p>
          <p>
            Hij werkt al decennia lang samen met heel wat grote meesters in de
            krijgskunsten. Al van in de beginjaren heeft hij heel veel respect
            voor Hanshi Alain Sally (Frankrijk), Sensei Hubert Laenen (Belgium)
            en Hanshi José Miranda Mateo (Spanje).
          </p>
        </div>
      </div>
      <img src="assets/images/JP.jpg" alt="JP" />
    </div>
    <div class="peter">
      <img src="assets/images/peter.jpg" alt="JP" />
      <div>
        <h2>Sensei Peter Van Linden</h2>
        <div>
          <p>
            Sensei Peter Van Linden staat al van in de beginjaren aan de zijde
            van Sensei JP. Als kleine jongen startte hij met judo, als
            jongvolwassene begon Peter zijn interesse uit te breiden en wou hij
            meer uit de budosport halen en begon een lange carrière bij Sensei
            JP Van Vré.
          </p>
          <p>
            Nog begin 2019 behaalde hij zijn 3de Dan Tai-Jutsu onder het
            toeziende ook van Hanshi Alain Sally en Hanshi John Terrien. Hij
            legde zijn examen af met Uke Joran Capenberghs en Uke Conner van
            Wijk.
          </p>
          <p>
            Ook nu nog staat Peter wekelijks op de mat om regelmatig zijn
            judokunsten aan de jongeren door te geven en te verweven in de
            Tai-Jutsu van JP.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="senpais">
    <h1>Senpai's</h1>
  </div>
</div>
