.router {
  margin-top: 16px;
  margin-bottom: 20px;
  margin-left: 15%;
  margin-right: 15%;
  background-color: hsl(0, 0%, 90%, 1);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 5px #888888;
}

img {
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  object-fit: cover;
  box-shadow: 0px 0px 10px 5px #666666;
}

/* img {
  content: "";
    display: inline-block;
    position: absolute;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.0) 0%,
      rgba(255, 0, 0, 1.0) 100%
    );
} */
